:root{

    --terminal-color:#4db8ff;

}

body{

    margin:0;

    background:black;

    color:var(--terminal-color);

    font-family:monospace;

}

#timelineTerminal{

    width:900px;

    margin:auto;

    padding-top:60px;

}

#timelineText{

    white-space:pre-wrap;

    line-height:1.8;

    text-align:center;

}

#timelineChoices{

    margin-top:50px;

}
.timelineOption{

    display:block;

    width:100%;

    background:none;

    border:none;

    color:inherit;

    font:inherit;

    text-align:left;

    padding:10px;

    cursor:pointer;

}

.timelineOption:hover{

    background:var(--terminal-color);

    color:black;

}
